#main {

    background-color: rgb(235, 235, 236);
    border: 1px solid black;
    max-width: 600px;
    /* 设置img-div的最大宽度 */
    margin: 0 auto;
    /* 居中显示 */
    padding: 20px;
}

#title {
    text-align: center;
    font-size: 27px;
    font-weight: bold;

}

#tribute-info-title {
    text-align: center;
    margin: 40px auto;
}

#img-caption {
    text-align: center;
    font-size: 10.8px;
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 1.8;
    /* 稍微增加行间距 */
    padding: 10px;
}

#img-div {
    max-width: 600px;
    /* 设置img-div的最大宽度 */
    margin: 0 auto;
    /* 居中显示 */
    background-color: white;
}




#image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    /* 让图片占满img-div的宽度 */
    height: auto;
    /* 保持图片的宽高比 */
}

#tribute-info {

    text-align: begin;
}

#tribute-info-list {
    width: 65%;
    margin: 20px auto;
}

#tribute-info-list li {
    font-size: 10.8px;
    margin-bottom: 10px;
}




#tribute-info-saying {
    width: 65%;
    text-align: begin;
    margin: 10px auto;
    font-size: 10.8px;
    line-height: 1.6;
}


#tribute-info-saying i {
    display: block;
}

footer {
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
}

/* 移动端适配 */
@media screen and (max-width: 1000px) {
    html, body {
        overflow-x: hidden; /* 禁止水平滚动 */
    }
    
    #main {
        max-width: 100%;
        padding: 10px;
        margin: 0;
        border-radius: 0;
    }
    
    #tribute-info-list,
    #tribute-info-saying {
        width: 80%;
        padding: 0 10px;
    }
    
    #title {
        font-size: 24px;
        padding: 0 10px;
    }
}

